html
	head
		title Library
		block scripts
			script(src='/build.js')

		block styles        
			link(rel="stylesheet", type="text/css", href="/build.min.css")
			
	body.bg-dark
		.sufee-login.d-flex.align-content-center.flex-wrap
			.container
				.login-content
					.login-logo

					.login-form
						form#form-register(method='POST' action='/signup')
							.form-group
								label(for="login-firstname") Primeiro nome
								input.form-control#firstname(type="text", name="firstName" required="" placeholder='Primeiro nome')

							.form-group
								label(for="login-lastname") Sobrenome
								input.form-control#lastname(type="text", name="lastName" required="" placeholder='Sobrenome')

							.form-group
								label(for="login-username") E-mail
								input.form-control#email(type="text", name="email" required="" placeholder='E-mail')

							.form-group
								label(for="login-phone") Contato
								input.form-control#phone(type="text", name="phone" required="" placeholder='Contato')
								
							.form-group
								label(for="login-username") Senha
								input.form-control#password(type="password", name="password" required="" placeholder='Senha')
								
							.checkbox      
								label
									input(type="checkbox")
									|  Aceito os termos e condições

							button.btn.btn-primary.btn-flat#login Registrar

						.register-link.m-t-15.text-center
							p Tem login? 
								a(href="/") Acesse aqui

