html
	head
		title Agência
		block scripts
			script(src='/build.js')

		block styles        
			link(rel="stylesheet", type="text/css", href="/build.min.css")
			
	body.register-page
		.register-box
			.register-logo

			.register-box-body
				form#form-register(method='POST' action='/signup')
					.form-group.has-feedback
						input.form-control#fullName(type="text", name="fullName" required="" placeholder='Nome completo')
						span.glyphicon.glyphicon-user.form-control-feedback

					.form-group.has-feedback
						input.form-control#email(type="email", name="email" required="" placeholder='E-mail')
						span.glyphicon.glyphicon-envelope.form-control-feedback

					.form-group.has-feedback
						input.form-control#phone(type="text", name="phone" required="" placeholder='Contato')
						span.glyphicon.glyphicon-phone.form-control-feedback
						
					.form-group.has-feedback
						input.form-control#password(type="password", name="password" required="" placeholder='Senha')
						span.glyphicon.glyphicon-lock.form-control-feedback
				
					br
					.row
						.col-md-12
							button.btn.btn-primary.btn-block#login Registrar

					br
					.row
						.col-md-12
							.text-center
								p Tem login? 
									a(href="/") Acesse aqui