html
	head
		title Agência
		block scripts
			script(src='/build.js')

		block styles				
			link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800")
			link(rel="stylesheet", href="/build.min.css")
			
	body.skin-blue.sidebar-mini
		.wrapper
			header.main-header
				nav.navbar.navbar-static-top
					a.sidebar-toggle(href="#" data-toggle="push-menu" role="button")
						span.sr-only Toggle navigation
					.navbar-custom-menu
						ul.nav.navbar-nav
							li.dropdown.user.user-menu
								a.dropdown-toggle(href="#" data-toggle="dropdown")
									img.user-image(src="/img/no_avatar.png" alt="Logo")
									span.hidden-xs #{currentUser.fullName}
								ul.dropdown-menu              		
									li.user-header
										img.img-circle(src="/img/no_avatar.png")
										p #{currentUser.fullName}                  	
									li.user-footer
										.pull-right
											a.btn.btn-default.btn-flat(href="/logout") Sign out
											
			aside.main-sidebar
				section.sidebar 
					.user-panel
						.pull-left.image
							img.img-circle(src="/img/no_avatar.png" alt="Logo")
						.pull-left.info
							small.text-muted #{currentUser.fullName}
					ul.sidebar-menu.tree(data-widget="tree")
						li.header Menu
						li
							a(href="/services")
								i.fa.fa-th
								span Serviços
						li
							a(href="/sales")
								i.fa.fa-edit
								span Pedidos

			.content-wrapper(style="min-height: 916px;")
				section.content-header
					block header

				section.content
					block content