html
  head
    title Agência
    block scripts
      script(src='/build.js')

    block styles        
      link(rel="stylesheet", type="text/css", href="/build.min.css")
      
  body.login-page
    .login-box
      .login-logo

      .login-box-body
        form#form-login(method='POST' action='/signin')
          .form-group.has-feedback
            input.form-control#email(type="email" name="email" required="" placeholder="E-mail")
            span.glyphicon.glyphicon-envelope.form-control-feedback

          .form-group.has-feedback
            input.form-control#password(type="password" name="password" required="" placeholder="Senha")
            span.glyphicon.glyphicon-lock.form-control-feedback
          
          .row
            .col-md-12
              .pull-left
                a(href="#") Esqueceu a senha?
          br
          .row
            .col-md-12
              button.btn.btn-success.btn-block#login Acessar
          br
          .row
            .col-md-12
              .text-center
                p Não tem login? 
                  a(href="/register") Cadastre aqui