html
	head
		title Agência
		block scripts
			script(src='/build.js')

		block styles				
			link(rel="stylesheet", type="text/css", href="/build.min.css")
			
	body
		block content
	
		block foot
			
			