extends ../admin.pug

block content  
	.breadcrumb-holder
		.container-fluid
			ul.breadcrumb
				li.breadcrumb-item
					a(href="/") Home
				li.breadcrumb-item
					a(href="/users/") Usuários
				li.breadcrumb-item.active
					span Novo

	section
		.container-fluid
			header
				h1.h3.display Usuários

			.row
				.col-md-12.col-xs-12
					.card
						.card-header
							span Novo cadastro
						.card-body
							form(action="/users", method="post")
								.form-group
									label(for="name")
										| Nome
									input(type="text", name="name", class="form-control")
								.form-group
									label(for="email")
										| E-mail
									input(type="text", name="email", class="form-control")
								.form-group
									label(for="phone")
										| Contato
									input(type="text", name="phone", class="form-control")
								input(type="submit" class="btn btn-sm btn-success")