extends ../admin.pug

block header
	h1 Dashboard
	ol.breadcrumb
		li
			a(href="/")
				i.fa.fa-dashboard
				| Home
		li.active Serviços


block content
	.row
		.col-md-12
			.box.box-primary
				.box-header.with-border
					h3.box-title Editar serviço
				form(action="/services/" + service.id + "?_method=put", method="post")
					.box-body
						.row
							.col-md-10.col-xs-12
								.form-group
									label(for="name")
										| Nome
									input.form-control(type="text" name="name" value=service.name)
							.col-md-2.col-xs-12
								.form-group
									label(for="price")
										| Preço
									input.form-control(type="text", name="price" value=service.price)
						.row
							.col-md-12.col-xs-12
								.form-group
									label(for="description")
										| Descrição
									textarea.form-control(rows="3" name="description")= service.description

					.box-footer
						input.pull-right(type="submit" class="btn btn-sm btn-success")

	script.