extends ../admin.pug

block header
	h1 Dashboard
	ol.breadcrumb
		li
			a(href="/")
				i.fa.fa-dashboard
				| Home
		li.active Serviços


block content
	.row
		.col-md-12
			if messages && messages.length > 0
				.callout.callout-danger
					each msg in messages
						= msg['message']
						br

	.row
		.col-md-12
			.box.box-primary
				.box-header.with-border
					h3.box-title Novo serviço
				form(action="/services", method="post")
					.box-body
						.row
							.col-md-10.col-xs-12
								.form-group
									label(for="name")
										| Nome
									input.form-control(type="text" name="name")
							.col-md-2.col-xs-12
								.form-group
									label(for="price")
										| Preço
									input.form-control.moedaReal(type="text" name="price")
						.row
							.col-md-12.col-xs-12
								.form-group
									label(for="description")
										| Descrição
									textarea.form-control(rows="3" name="description")
						.row
							.col-md-12.col-xs-12
								.form-group
									input(id='package' type='checkbox' name='package')
									label(for="package")
										| &nbsp Venda como pacote?
									

					.box-footer
						input.pull-right(type="submit" class="btn btn-flat btn-primary")

	script.
		$(document).ready(function(){
			$('.moedaReal').inputmask('decimal', {
				radixPoint:",",
				groupSeparator: ".",
				autoGroup: true,
				digits: 2,
				digitsOptional: false,
				placeholder: '0',
				rightAlign: false,
				onBeforeMask: function (value, opts) {
					return value;
				}
			});
		})