extends ../admin.pug

block content  
	.breadcrumb-holder
		.container-fluid
			ul.breadcrumb
				li.breadcrumb-item
					a(href="/") Home
				li.breadcrumb-item
					a(href="/genres/") Gêneros
				li.breadcrumb-item.active
					span Novo

	section
		.container-fluid
			header
				h1.h3.display Gêneros

			.row
				.col-md-12.col-xs-12
					.card
						.card-header
							span Novo cadastro
						.card-body
							form(action="/genres", method="post")
								.form-group
									label(for="title")
										| Nome
									input(type="text", name="title", class="form-control")
								input(type="submit" class="btn btn-sm btn-success")