extends ../admin.pug

block content  
	.breadcrumb-holder
		.container-fluid
			ul.breadcrumb
				li.breadcrumb-item
					a(href="/") Home
				li.breadcrumb-item
					a(href="/loans/") Empréstimos
				li.breadcrumb-item.active
					span Novo

	section
		.container-fluid
			header
				h1.h3.display Empréstimos

			.row
				.col-md-12.col-xs-12
					.card
						.card-header
							span Novo cadastro
						.card-body
							form(action="/loans", method="post")
								.form-group
									label(for="name")
										| Usuário
									input(type="text", name="user", class="form-control")

								.form-group
									label(for="author")
										| Livro
									input(type="text", name="user", class="form-control")

								.row
									.col-md-6
										.form-group
											label(for="initDate")
												| Retirada
											input(type="text", name="initDate", class="form-control")
									.col-md-6
										.form-group
											label(for="finishDate")
												| Entrega
											input(type="text", name="finishDate", class="form-control")

								input(type="submit" class="btn btn-sm btn-success")

	script.
		
